<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpucode.mapper.UserMapper">

    <sql id="selectUser">
        select * from user
    </sql>

    <select id="findAll" parameterType="user" resultType="user" >
        <include refid="selectUser" /> where id=#{id} and username = #{username} and password = #{password}
    </select>

    <select id="findByCondition" parameterType="user" resultType="user" >
        <include refid="selectUser" />
         <where>
             <if test="id != 0">
                 and id=#{id}
             </if>

             <if test="username != null">
                 and username = #{username}
             </if>

            <if test="password != null">
                and password = #{password}
            </if>

         </where>
    </select>

    <select id="findById" parameterType="list" resultType="user">
        <include refid="selectUser" />
        <where>
            <foreach collection="list" open="id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>


</mapper>