/* tab 1*/
.double{
    line-height: 58px;
}

.title .glyphicon{
    padding: 3px;
    font-size: 13px;
    border-radius: 8px;
    color: #FFFFFF;
}


/* 数据表格label */



/* label行高度 */


/* label行分隔符 */