<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpucode.mapper.OrderMapper">

    <resultMap id="orderMap" type="order">

        <!--手动指定字段与实体属性的映射关系
        column: 数据表的字段名称
        property：实体的属性名称
        -->
        <id column="oid" property="id" />
        <result column="ordertime" property="ordertime" />
        <result column="total" property="total" />
<!--        <result column="uid" property="user.id" />
        <result column="username" property="user.username" />
        <result column="password" property="user.password" />
        <result column="birthday" property="user.birthday" />-->

        <!--
            property: 当前实体(order)中的属性名称(private User user)
            javaType: 当前实体(order)中的属性的类型(User)
        -->
        <association property="user" javaType="user">
            <id column="uid" property="id" />
            <result column="username" property="username" />
            <result column="password" property="password" />
            <result column="birthday" property="birthday" />
        </association>

    </resultMap>

    <select id="findAll" resultMap="orderMap">
        select * ,o.id oid from orders o, user u where o.uid = u.id
    </select>

</mapper>